/*

This is an extension of assets/ui.css. It contains any extensions of the ui styling that are
unique to the account app.

*/

/*

Token

*/
.token {
	height: 25px;
	float: left;
}

.token.active {
	color: #fff;
}
