/*

This is an extension of assets/ui.css. It contains any extensions of the ui styling that are
unique to the account app.

*/

/*

Token

*/
.token {
	height: 25px;
	float: left;
}

.token.active {
	color: #fff;
}

.token input {
	font-size: 16px;
	height: 34px;
	width: auto;
	box-sizing: border-box;
	border: 0px;
	background-color: transparent;
	color: #ccc;
	padding: 0px;
}
