body {
	overflow: hidden;
}

/*

Dropzone

*/

.dz-wrapper {
	position: absolute;
	height: 300px;
	width: 400px;
	text-align: center;
	border: 2px dotted #ccc;
	border-radius: 4px;
}

.dz-size {
	display: none;
}

.dz-success-mark {
	display: none;
}

.dz-error-mark {
	display: none;
}

.dz-error-message {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	color: #6B3300;
	pointer-events: none;
}

.dz-filename {
	display: none;
}
