/*

Elements

*/

#as-client-dialogue {
	height: 400px;
	width: 410px;
	border-radius: 0px;
}

#as-client-details-title-wrapper {
	height: 40px;
}

#as-client-details-title {
	margin-top: 15px;
	color: #ccc;
}

#as-client-name {
	top: 10px;
}

#as-client-type-select {
	top: 20px;
	width: 400px;
	height: 195px;
}

#as-client-type-select-contract {
	height: 100%;
	width: 195px;
}

#as-client-type-select-production {
	height: 100%;
	width: 195px;
	left: 205px;
}

#as-user-dialogue {
	left: 420px;
	height: 300px;
	width: 400px;
}

#as-user-details-title-wrapper {
	height: 40px;
}

#as-user-details-title {
	margin-top: 15px;
	color: #ccc;
}

#user-name {
	top: 10px;
	height: 40px;
	width: 400px;
}

#un-first-name-input {
	width: 195px;
}

#un-last-name-input {
	width: 195px;
	left: 205px;
}

#email {
	top: 20px;
}
