/*

This file should contain all styling related to interface elements, but no specific #elements.
#elements that are common to every page should be specified in elements.css.

*/

/*

1. Navbar

*/

/* navbar */
.navbar-default {
	background-color: transparent;
	background-image: none;
	border-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* title */
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #AAA;
}

/* link */
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-brand, .navbar-nav > li > a {
	color: #777;
	text-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #AAA;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #D5D5D5;
}
.navbar-default .navbar-text {
	color: #bbb;
}
.navbar-default .navbar-link {
	color: #fff;
}
.navbar-default .navbar-link:hover {
	color: #aaa;
	text-decoration: none;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #777;
	border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #333;
	border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #555;
	border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
	border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #CCC;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
	}
}

/*

Common interface elements

 */
 /* interface element */
.ie {
	position: absolute;
	background-color: transparent;
	/*display: none; /* no display by default, must be activated by UI code. */*/
	overflow-x: hidden; /* all content must fit inside the box. No expansion left-right will be allowed. */
}

.ie.show {
	display: block;
}

.ie.relative {
	position: relative;
}

/* Scroll */
.ie.scroll-wrapper {
	width: 100%;
	overflow: hidden;
}

.ie.scroll-wrapper .scroll {
	height: 100%;
	width: calc(100% + 20px);
	overflow-y: scroll;
	padding-right: 20px;
}

/* centred vertically */
.ie.centred-vertically {
	top: 50%;
	transform: translateY(-50%);
}

/* centred horizontally */
.ie.centred-horizontally {
	left: 50%;
	transform: translateX(-50%);
}

/* centred both */
.ie.centred {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* borders */
.ie.border-top {
	border-top: 2px solid #ccc;
}

.ie.border-right {
	border-right: 2px solid #ccc;
}

.ie.border-bottom {
	border-bottom: 2px solid #ccc;
}

.ie.border-left {
	border-left: 2px solid #ccc;
}

.ie.border {
	border-radius: 4px;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.ie.border-radius {
	border-radius: 4px;
}

/*

2. Sidebars

*/
/* Sidebar */
.ie.sidebar {
	width: 200px;
	height: 70%;
	/*left: -200px; /* Initially hidden until activated */*/
}

/* Mini sidebar */
.ie.sidebar.mini {
	width: 50px;
	/*left: -50px; /* Initially hidden until activated */*/
}

.ie.sidebar .loading-icon img {
	height: 25px;
	width: 25px;
}

.ie.sidebar .sidebar-title {
	font-size: 16px;
	color: #bbb;
	width: 80%;
	text-align: center;
}

/*

3. Panels

*/
/* Full panel */
.ie.panel {
	height: 70%;
	width: 954px;
}

/* Context panel */
.ie.panel.context {
	left: 270px;
	width: 744px;
}

/* Sub panel */
.ie.panel.sub-panel {
	margin-right: 10px;
	margin-bottom: 10px;
}

.ie.panel .ie.panel-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	color: #ccc;
	width: 100%;
	text-align: center;
}

/*

4. Buttons

*/
.ie.button {
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	color: #ccc;
}

.ie.button:hover {
	border-color: #fff;
}

.ie.button:active {
	border-color: #fff;
}

.ie.sidebar .ie.button.border {
	left: 10px;
	width: 180px;
	margin-bottom: 10px;
}

.ie.sidebar .ie.button.start-button {
	height: 100px;
	padding-top: 33px;
	font-size: 20px;
}

/*

5. Inputs

*/

.ie.input {
	width: 400px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	background-color: transparent;
	color: #ccc;
	padding: 8px;
	border-radius: 4px;
}

.ie.input:focus {
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
	border-color: #ccc;
	outline: none;
	color: #ccc;
}


/*

6. Breadcrumbs

*/
.breadcrumbs {

}
