/*

	Customise background and interface elements.

*/

html {
	background-image: url('../img/main-background-small-no-moon-blur.jpg');
}

/*

Sidebars

*/

.sidebar {
	position: absolute;
	top: 50%;
	left: 0px;
	background-color: transparent;
	display: block;
	overflow-y: auto;
	width: 200px;
	height: 70%;
	border-right: 1px solid #aaa;
	transform: translateY(-50%);
}

.sidebar.mini {
	width: 50px;
}

/*

Panels

*/

.panel {
	border: 0px solid #fff;
}
