/*

	Customise background and interface elements.

*/

html {
	background-image: url(../img/main-background-small-no-moon-blur.jpg);
}

div {
	/*-webkit-transition: left .5s ease-in-out;*/
	/*transition: left .5s ease-in-out;*/
}

body {
	overflow: hidden;
}

/*

Sidebars

*/

.sidebar {
	position: absolute;
	top: 50%;
	left: 0px;
	background-color: transparent;
	display: block;
	width: 200px;
	height: 70%;
	border-right: 2px solid #aaa;
	transform: translateY(-50%);
	overflow-x: hidden;
}

.sidebar.mini {
	width: 50px;
}

.sidebar.hidden {
	translate: translateY(-50%);
}

.sidebar .loading-icon {
	width: 100%;
	height: 100%;
	position: absolute;
}

.sidebar .loading-icon img {
	position: relative;
	height: 30px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	transform: translateY(-50%);
}

/*

Panels

*/

.content-panel {
	position: absolute;
	top: 50%;
	left: 220px;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	width: 794px;
	height: 70%;
	transform: translateY(-50%);
	border: 2px solid #aaa;
	border-radius: 3px;
	box-sizing: border-box;
}

.panel-title {
	font-size: 2.0em;
	color: #ccc;
	width: 100%;
	height: 50px;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
}

.panel-large {
	left: 60px;
	width: 954px;
	border: 0px solid #aaa;
}

/*

Buttons

*/

.button {
	color: #ccc;
	padding-top: 1.0em;
	width: 100%;
	height: 50px;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.button:hover {
	color: #ddd;
	background-color: transparent;
}

.button:active {
	color: #eee;
	background-color: transparent;
}

.button:focus {
	color: #aaa;
	background-color: transparent;
}

.button:active:focus {
	color: #eee;
	background-color: transparent;
}

.button:active:hover {
	color: #eee;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn {
	position: relative;
	border-radius: 0px;
	border-top: 0px;
	border-right: 0px solid #CCC;
	border-left: 0px solid #CCC;
	border-bottom: 0px solid #CCC;
}

.btn:focus {
	outline:0px !important;
}

button:focus {
	outline:0px !important;
}

.sidebar.mini .btn {
	left: 0px;
	width: 50px;
	border-right: 1px solid #CCC;
	border-left: 0px;
}

.btn.notouch {
	cursor: default;
	border-bottom: 1px solid #CCC;
	background-color: white;
	box-shadow: none;
}

.btn.progress-inset {
	padding: 0px;
}

div.progress-inset {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0%;
	background-color: #00BA8A;
}

.btn.progress-inset input {
	border: 0px;
	outline: none;
}

.menu-button {
	width: 150px;
	height: 50px;
	border: 2px solid #ccc;
	left: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	display: none;
	box-sizing: border-box;
}

.start-button {
	height: 100px;
	padding-top: 33px;
	font-size: 20px;
}

/*

Input groups

*/

.form-control:focus {
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
	border-color: #ccc;
	outline: none;
	color: #ccc;
}

.custom-input-group {
	position: absolute;
	width: 400px;
}

.custom-input-group input {
	box-sizing: border-box;
	border: 2px solid #ccc;
	background-color: transparent;
	color: #ccc;
}

.custom-input-group .input-group-addon {
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-right: 0px solid #ccc;
	background-color: transparent;
	color: #ccc;
}

.custom-text-area {
	width: 400px;
	padding-left: 12px;
	padding-top: 10px;
	position: absolute;
	box-sizing: border-box;
	border: 2px solid #ccc;
	background-color: transparent;
	color: #ccc;
	border-radius: 4px;
	resize: none;
}

.custom-text-area:focus {
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
	border-color: #ccc;
	outline: none;
	color: #ccc;
}

/*<div class='input-group {classes}' style='{style}'>
	<span class='input-group-addon'>Project name</span>
	<input type='text' class='form-control' placeholder=''>
</div>*/
