/*

Only need to customise elements on login page

*/

/* 1. Login wrapper */
#login-wrapper {
	width: 400px;
	height: 300px;
}

#login-header {
	color: #ccc;
	font-weight: normal;
	text-align: center;
}

#login-email {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: transparent;
	border: 1px solid #ccc;
	color: #aaa;
	width: 100%;
}

#login-password {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-top: 0px solid #ccc;
	color: #aaa;
	width: 100%;
}

#login-submit {
	position: relative;
	top: 10px;
	height: 40px;
	right: 0px;
	margin: 0px;
	clear: left;
	border: 1px solid #ccc;
	border-radius: 5px;
}
