{% extends 'base.html' %}
{% load static %}

{# LOAD JS #}
{% block head-js %}
{% endblock %}

{# CSS #}
{% block css %}
<link rel='stylesheet' href='{% static 'users/css/account-main.css' %}'>
<link rel='stylesheet' href='{% static 'users/css/account-ui.css' %}'>
<link rel='stylesheet' href='{% static 'users/css/account-elements.css' %}'>
{% endblock %}

{# NAV #}
{% block nav_home_redirect %}
	<a href='/account/' class='nav-link'>Arktic</a>
{% endblock %}
{% block nav_left %}{% endblock %}
{% block nav_right %}
<p>Signed in as {{ user.email }}, <a href='/logout/' class='nav-link'>logout</a></p>
{% endblock %}

{# CONTENT #}
{# role matrix with notifications and work summary #}
{% block content %}

{# UI hook #}
<div id='hook'></div>
{% endblock %}

{# REACT #}
{% block post_main_script %}
<script src="{% static 'users/js/account.js' %}"></script>
{% endblock %}
