{% extends 'base.html' %}
{% load static %}

{# LOAD JS #}
{% block head-js %}
{% endblock %}

{# CSS #}
{% block css %}
<link rel='stylesheet' href='{% static 'users/css/us.css' %}'>
{% endblock %}

{# NAV #}
{% block context_brand %}
<a class='navbar-brand' href='/'>Arktic</a>
{% endblock %}
{% block context_nav_left %}{% endblock %}
{% block context_nav_right %}{% endblock %}

{# CONTENT #}
{% block content %}

{# UI hook #}
<div id='hook'></div>
{% endblock %}

{# REACT #}
{% block post_main_script %}
<script src="{% static 'users/js/us.js' %}"></script>
{% endblock %}
