{% extends 'base.html' %}
{% load static %}
{% load compress %}

{# LOAD JS #}
{% block head-js %}
{% endblock %}

{# CSS #}
{% block css %}
<link rel='stylesheet' href='{% static 'tr/css/account-main.css' %}'>
<link rel='stylesheet' href='{% static 'tr/css/account-ui.css' %}'>
<link rel='stylesheet' href='{% static 'tr/css/account-elements.css' %}'>
{% endblock %}

{# NAV #}
{% block nav %}
{% endblock %}

{# CONTENT #}
{# role matrix with notifications and work summary #}
{% block content %}

{# UI hook #}
<div id='hook'></div>
{% endblock %}

{% block pre_main_script %}
<!-- Third party (no local deps) -->
<script src='{% static "js/util/dropzone.js" %}'></script>
<script src='{% static "js/util/string-format.js" %}' onload='format.extend(String.prototype);'></script>
<script src='{% static "js/util/mousetrap.js" %}'></script> <!-- keyboard shortcuts -->
<script src='{% static "js/util/jss.min.js" %}'></script>
<script src='{% static "js/util/jzip.js" %}'></script>

<!-- general utility stuff comes before local -->
{% compress js %}
<script src='{% static "js/util/util.js" %}'></script>
<script src='{% static "js/util/mods.js" %}'></script>
<script src='{% static "js/util/shortcuts.js" %}'></script>
<script src='{% static "js/util/csrf.js" %}'></script>
{% endcompress %}

<!-- UI -->
<script src='{% static "js/ui/ui.js" %}'></script>
<script src='{% static "js/ui/shortcuts.js" %}'></script>
<script src="{% static 'js/ui/request.js' %}"></script>

{% compress js %}
<script src='{% static "js/ui/components/components.contentPanel.js" %}'></script>
<script src='{% static "js/ui/components/components.filterButton.js" %}'></script>
<script src='{% static "js/ui/components/components.search.js" %}'></script>
<script src='{% static "js/ui/components/components.searchableList.js" %}'></script>
<script src='{% static "js/ui/components/components.sidebar.js" %}'></script>
<script src='{% static "js/ui/components/components.actionMasterController.js" %}'></script>

<!-- specific UI -->
<script src="{% static 'tr/js/account.action.js' %}"></script>
<script src="{% static 'tr/js/account.request.js' %}"></script>

<script src="{% static 'tr/js/account.components/account.components.audio.js' %}"></script>
<script src="{% static 'tr/js/account.components/account.components.captionField.js' %}"></script>
<script src="{% static 'tr/js/account.components/account.components.counter.js' %}"></script>
<script src="{% static 'tr/js/account.components/account.components.roleDisplayButton.js' %}"></script>
<script src="{% static 'tr/js/account.components/account.components.transcriptionMasterController.js' %}"></script>
<script src="{% static 'tr/js/account.components/account.components.autocompleteControls.js' %}"></script>
<script src="{% static 'tr/js/account.components/account.components.flagField.js' %}"></script>

<script src="{% static 'tr/js/account.interfaces/account.interfaces.controlInterface.js' %}"></script>
<script src="{% static 'tr/js/account.interfaces/account.interfaces.adminDashboard.js' %}"></script>
<script src="{% static 'tr/js/account.interfaces/account.interfaces.moderationInterface.js' %}"></script>
<script src="{% static 'tr/js/account.interfaces/account.interfaces.moderatorDashboard.js' %}"></script>
<script src="{% static 'tr/js/account.interfaces/account.interfaces.projectInterface.js' %}"></script>
<script src="{% static 'tr/js/account.interfaces/account.interfaces.transcriptionInterface.js' %}"></script>
<script src="{% static 'tr/js/account.interfaces/account.interfaces.projectCompleteInterface.js' %}"></script>
<script src="{% static 'tr/js/account.interfaces/account.interfaces.userDashboard.js' %}"></script>

<script src="{% static 'tr/js/account.application.js' %}"></script>
<script src="{% static 'tr/js/account.js' %}"></script>
{% endcompress %}

{% endblock %}
